################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OrderManagement
/UserManagementServices/.vs
/UserManagementServices/UserManagementServices/bin/Debug/net8.0
/UserManagementServices/UserManagementServices/obj
